[submodule "denoiser"]
	path = denoiser
	url = https://github.com/dariadiatlova/denoiser
[submodule "DNS-Challenge"]
	path = DNS-Challenge
	url = https://github.com/dariadiatlova/DNS-Challenge.git
[submodule "DTLN"]
	path = DTLN
	url = https://github.com/dariadiatlova/DTLN.git
