wheel==0.37.0
librosa~=0.8.1
matplotlib
pandas~=1.3.4
scipy~=1.7.1
scikit-learn
tensorboard
torch~=1.5.1
torch-audiomentations==0.9.0
torch-pitch-shift==1.2.0
torchaudio~=0.5.1
torchvision==0.10.1
tornado==6.1
tqdm==4.62.3
mpire==2.3.0
lmdb==1.2.1
json-lines
transformers
numpy~=1.19.0
tokenizers~=0.10.3
soundfile~=0.10.3.post1
pesq~=0.0.3
julius~=0.1.2
sounddevice~=0.4.0
pystoi~=0.3.3
setuptools~=58.2.0
seaborn~=0.11.2
asrecognition~=0.0.4